/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: #005b96;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav .nav-sections,
nav .nav-languages {
    display: flex;
    gap: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* Section Styles */
section {
    padding: 20px;
    text-align: center;
}

section#contact p a {
    color: #005b96;
    text-decoration: none;
}

section#contact p a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
